.btn {
	width: auto;
	border: none;
	border-radius: 12px;
	font-family: var(--font-family-montserrat);
	font-size: var(--text-lg);
	font-weight: 500;
	background-color: var(--color-white);
	outline: none;
	cursor: pointer;
	padding: 0 var(--space-lg);
	margin-top: var(--space-md);
}

.btn:not(:last-child) {
	margin-right: var(--space-sm);
}

.btn--hover-blue:hover {
	border: 1px solid var(--color-blue-3);
	color: var(--color-blue-3);
}

.btn--focus-blue:focus {
	background-color: var(--color-blue-3);
	color: var(--color-white);
	border: none;
}

/* Button Size Styles*/
.btn--regular {
	height: 46px;
}

.btn--small {
	height: 33px;
}

/* Button Layout Styles */
.btn--type-blue {
	background-color: var(--color-blue-1);
}

.btn--type-outline-blue {
	border: 1px solid var(--color-blue-1);
}

.btn--type-outline-black {
	border: 1px solid var(--color-grey-2);
}

/* Button Text Styles */
.btn--text-white {
	color: var(--color-white);
}

.btn--text-blue {
	color: var(--color-blue-1);
}

.btn--text-sm {
	font-size: var(--text-sm);
}

.btn--text-lg {
	font-size: var(--text-lg);
}
