:root {
	/* Font family / Global */
	--font-family-montserrat: 'Montserrat', sans-serif;
	--font-family-roboto: 'Roboto', sans-serif;

	/* Spacing / Global */
	--space-unit: 1em;
	--space-xs: calc(0.5 * var(--space-unit));
	--space-sm: calc(0.7 * var(--space-unit));
	--space-md: calc(1.25 * var(--space-unit));
	--space-lg: calc(2 * var(--space-unit));
	--space-xl: calc(3 * var(--space-unit));
	--space-xxl: calc(6 * var(--space-unit));

	/* Color / Global */
	--color-white: #FFF;
	--color-black-1: #000000;
	--color-black-2: #333333;
	--color-blue-1: #5C94E1;
	--color-blue-2: rgba(47, 128, 237, 0.7);
	--color-blue-3: #6AA2EF;
	--color-grey-1: #F2F2F2;
	--color-grey-2: #4F4F4F;
	--color-grey-3: #828282;
	--color-grey-4: #C4C4C4;
	--color-grey-5: #E0E0E0;
	--color-grey-6: #BDBDBD;
	--color-grey-7: #A9A9A9;
	
	/* Typography / Global */
	--text-xs: 12px;
	--text-sm: 14px;
	--text-md: 16px;
	--text-lg: 18px;
	--text-xl: 24px;

	/* Font Weight
		700
		600
		500
		400
	*/

	/* Border Radius
		12px
		4px
	*/
}

.personal-details {
	grid-area: pd;
}

.skills {
	grid-area: s;
}

.blog {
	grid-area: b;
}

.hobbies {
	grid-area: h;
}

.experiences {
	grid-area: e;
}

.filterable-project-header {
	grid-area: fph;
}

.projectlist {
	grid-area: pl;
}

.pagination {
	grid-area: p;
}

.footer {
	grid-area: f;
}

.App {
	padding: var(--space-xl) calc(var(--space-xxl) * 2.2);
	font-family: var(--font-family-montserrat);
	display: grid;
	grid-template-columns: 1.4fr 1fr 1fr;
	/*grid-template-rows: repeat(7, auto);*/
	grid-template-areas:
	"pd pd pd"
	"s b b"
	"h b b"
	"h e e"
	"h e e"
	"fph fph fph"
	"pl pl pl"
	". . p"
	"f f f";

	grid-gap: var(--space-md);
	grid-auto-columns: auto;
}

.material-icons {
	display: inline-block;
	font-size: 18px;
	color: var(--color-grey-2);
	margin-right: var(--space-xs);
}

.container {
	padding: var(--space-md);
	background-color: var(--color-white);
	border-radius: 12px;
	/*margin-bottom: var(--space-lg);*/
}

.box-shadow {
	position: relative;
}

.box-shadow:before {
	position: absolute;
	bottom: 0;
	left: 10%;
	content: '';
	width: 80%;
	height: var(--space-md);
	box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 1200px) {
	.App {
		padding: var(--space-lg) calc(var(--space-xl) * 2.2);
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
		"pd pd pd"
		"s s s"
		"h b b"
		"h e e"
		"h e e"
		"fph fph fph"
		"pl pl pl"
		". . p"
		"f f f";
	}
}

/* Tablet app spacing */
@media screen and (max-width: 991.98px) {
	.App {
		padding: var(--space-lg) calc(var(--space-md) * 1.6);
	}
}

/* Mobile app spacing */
@media screen and (max-width: 767.98px) {
	html {
		font-size: 14px;
	}

	:root {
		/* Typography / Global */
		--text-md: 14px;
		--text-lg: 16px;
		--text-xl: 18px;
	}

	.App {
		padding: var(--space-sm);
		display: flex;
		flex-direction: column;
	}
}
